# the nginx http server instance
server {
	listen 8080;
	server_name spotilisk.dagobah-online.com localhost;

	location = /config {
		add_header Content-Type application/json;
		return 200 '{"AUTH_CLIENT_ID":"${AUTH_CLIENT_ID}","AUTH_REDIRECT_URL":"${AUTH_REDIRECT_URL}"}';
	}
	
	# static content
	location / {
		root /var/www/spotilisk/static;
	}
}
