<div class="playlists">
    <!-- BEGIN: tracks -->
    <div class="playlist">Liked songs ({tracks.total})</div>
    <!-- END: tracks -->
    <!-- BEGIN: playlist -->
    <div class="playlist" onclick="page.select(event)" data-id="{playlist.id}">{playlist.name} ({playlist.tracks.total})</div>
    <!-- END: playlist -->
    <button onclick="page.createPlaylist()">+ Create Playlist</button>
    <button onclick="page.syncIntoPlaylist()">Sync</button>

    <button onclick="page.refreshPlaylists()">⌛ Refresh</button>
</div>
<div class="tracks" id="tracks">
</div>