<!-- BEGIN: liked -->
<h3>Liked songs ({tracks.total})</h3>
<div class="expand" data-onclick="toggleLikedSongs">Preview / See all</div>
<div class="liked preview">
    <!-- BEGIN: track -->
    <img src="{track.img}" title="{track.name} - {track.artist}" />
    <!-- END: track -->
</div>
<!-- END: liked -->

<div class="sync">
    <button onclick="page.syncIntoPlaylist()">Sync Liked Songs into the playlist selected below</button>
    <button onclick="page.previewTrackDiff()">Preview</button>
    <button onclick="page.getTracksToImport()">+ Import tracks into playlist</button>
</div>

<h3>Playlists</h3>
<div class="playlists">
    <div class="list">
        <!-- BEGIN: playlist -->
        <div class="playlist" onclick="page.select(event)" data-id="{playlist.id}">{playlist.name} ({playlist.tracks.total})</div>
        <!-- END: playlist -->
        <button data-onclick="toggleNamingInput">+ Create Playlist</button>
        <button onclick="page.refreshPlaylists()">⟳ Refresh</button>
        <input type="text" id="naming-input" onkeydown="if(event.keyCode == 13) { page.createPlaylist(this.value) }" style="display: none;"/>
    </div>
    <div class="tracks" id="tracks"></div>
</div>

<div id="importer">
    <textarea name="listImporter" rows="10" cols="50"></textarea><br/>
    <button onclick="page.importTracks(false)">Cancel</button>
    <button onclick="page.importTracks(true)">Import tracks</button>
</div>